body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    color: white;
}

.box{
    margin-top: 2%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: black;
    opacity: 60%;
    border-radius: 2%;
}
.container{
    margin: auto;
    text-align: center;
    color: chartreuse
}

.logo{
    width: 20%;
    height: 20%;
}

.nav-bar{
    display: block;
    background-color: chartreuse;
    text-align: center;
}